################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MangedHostpital/v16
/.vs/ManageHospital/v16
/ManageHospitalData/bin
/ManageHospitalApi/bin 
/ManageHospitalData/obj 
/ManageHospitalApi/obj
